.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin: 80px 170px;
}
.hero img {
  margin-top: 20px;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 60px;
  font-weight: 600;
}
.hero h1 span {
  background: linear-gradient(270deg, #4c00ff 10%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  width: 70%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 7px 20px;
  border-radius: 50px;
  background: linear-gradient(264deg, #2902a9 0.36%, #200174 102.06%);
  cursor: pointer;
}
.hero-resume {
  padding: 5px 20px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-connect:hover {
  padding: 5px 20px;
  border: 2px solid #fff;
}
.hero-resume:hover {
  border: 2px solid #9e0327;
  background-color: #fff;
  color: #0f0232;
}
@media (max-width: 768px) {
  .hero {
    margin: 50px 5px;
  }
  .hero img {
    margin-top: 36px;
    width: 25%;
  }
  .hero h1 {
    margin-top: 36px;
    width: 90%;
    font-size: 50px;
  }
  .hero p {
    width: 90%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 8px 36px;
    border-radius: 40px;
  }
  .hero-resume {
    padding: 6px 36px;
    border-radius: 40px;
  }
}
