.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.mywork-title h1 {
  font-size: 50px;
  font-weight: 600;
}
.mywork-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 32px;
}
.mywork-container img {
  max-width: 50%;
  padding: 5px;
  background-color: white;
  border-radius: 12px;
}
.projects {
  display: flex;
  gap: 36px;
  padding: 16px 0px;
}
.project-description {
  padding-left: 0px;
}
.projects h2 {
  padding: 10px 0px;
  font-weight: 500;
}
.projects p {
  font-size: 20px;
  padding-left: 32px;
  margin-top: 2px;
}
.mywork-container img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.mywork-showmore {
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  background: linear-gradient(267deg, #2902a9 0.36%, #200174 102.06%);
  padding: 8px 30px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.6s;
}
.mywork-showmore:hover {
  gap: 25px;
  transition: 0.6s;
}
.project-description div {
  padding: 6px 12px;
  background-color: rgb(3, 2, 100);
  border-radius: 12px;
  margin: 20px 25px;
  text-align: center;
}
.project-description a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.w-desc-name {
  padding-left: 10px;
}
.w-desc-no {
  padding-right: 10px;
}
@media (max-width: 768px) {
  .mywork {
    gap: 25px;
    align-items: start;
    margin: 50px 25px;
  }
  .mywork-title h1 {
    padding: 0px;
    font-size: 50px;
    font-weight: 600;
  }
  .mywork-container {
    /* grid-template-columns: 1f 1f;     */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mywork-container img {
    max-width: 100%;
    margin-bottom: 24px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .projects h2 {
    padding: 0px 1px;
    font-weight: 500;
    padding-left: 50px;
  }
  .projects p {
    padding-left: 32px;
    font-size: 18px;
  }
  .mywork-showmore {
    padding: 6px 24px;
    font-size: 18px;
    margin: 1px auto;
    cursor: pointer;
    margin-bottom: 50px;
  }
}
